<div class="content">
    <div class="container">
        <!--Começo container-->
        <div class="modal-content-full">
            <div class="row">
                <div class="col-12">
                    <div class="card-box" style="background-color:#F8F8F8; height: 100%;">
                        <!-- <div class="text-center">
                            <div class="logo">
                                <img src="../assets/Logo/logo_TelescopeInPreto300.png" alt="logo" title="logo" width="300">
                            </div>
                            <h2 class="ng-binding"><span translate>Bem-vindo(a),</span> {{user.nome | uppercase}}</h2>
                            <p class="text-muted" translate>Frase inicial</p>
                        </div> -->

                        <app-dashboard-operacional></app-dashboard-operacional>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>