<div class="content">
  <div class="container">
    <!--Começo container-->
    <div class="modal-content">
      <div class="row">
        <div class="col-12">
          <div class="card-box">
            <div class="row">
              <div class="col-sm-3">
                <a translate>Período</a>
                <!-- <ejs-daterangepicker [(startDate)]='startDate' [(endDate)]='endDate' [min]='minDate' [max]='maxDate'></ejs-daterangepicker> -->
              </div>
            </div>
            <br>
            <!-- linha com os botões -->
            <div class="row">
              <div class="col-12 align-right" style="text-align: right;">
                <div class="btn-group mr-2" role="group">
                  <button type="button" class="btn btn-primary" translate>Buscar</button>
                </div>
              </div>
            </div>
            <br>
            <!--Fim Buscador-->
            <div class="row">
              <div class="col-12">
                <div class="card-box" style="height: 50rem;">
                  <div class="table-rep-plugin">
                    <div class="table-responsive" data-pattern="priority-columns" style="height: 48rem;">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th data-priority="3" translate>ID</th>
                            <th data-priority="3" translate>Data</th>
                            <th data-priority="3" translate>Duração</th>
                            <th data-priority="3" translate>Usuário</th>
                            <th data-priority="3" translate>Equipe</th>
                            <th data-priority="3" translate>Questionário</th>
                            <th data-priority="3" translate>Projeto</th>
                            <th data-priority="3"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- <tr *ngFor="let coleta of buscaColetaRetorno.itens">
                            <td>{{coleta.idColeta}}</td>
                            <td>{{coleta.dtInicio | date: dateFormat}}</td>
                            <td>{{coleta.duracao | slice:0:5}}</td>
                            <td>{{coleta.nomeUsuario}}</td>
                            <td>{{coleta.nomeEquipe}}</td>
                            <td>{{coleta.descQuestionario}}</td>
                            <td>{{coleta.descProjeto}}</td>
                            <td>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalGeo" (click)="mostraMapa(coleta.latitude, coleta.longitude)"
                                translate>Geocalização</button>
                            </td>
                          </tr>
                          <tr *ngIf="!buscaColetaRetorno.itens">
                            <td translate>no Hogares</td>
                          </tr> -->
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--Fim container-->
  </div>

  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-triangle-path"></ngx-spinner>