div.highcharts-container {
  width:100% !important;
  height:100% !important;
}

.highcharts-root{
  width:100% !important;
  height: 100% !important;
}

.tamanho{
  width: 100%!important;
  height: 100%!important;
}